<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
	integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
	crossorigin="anonymous"></script>
<script th:src="@{/js/common.js}"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/themes/base/jquery-ui.min.css">
<!-- jQuery本体 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<!-- jQuery UI -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<!-- 日本語化ファイル -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.4/i18n/jquery.ui.datepicker-ja.min.js"></script>
<script th:inline="javascript">

	$(function(){
		$('#logout').click(function(){
			logout('ログアウトします。よろしいですか？');
		});		
	});
		
	var funcBack = function() {
		if (confirm("入力した発注情報が削除されます。よろしいですか？")) {
			return true;
		} else {
			return false;
		}
	}

</script>
</script>
<head>
	<meta charset="UTF-8">
	<title>発注確認</title>
</head>

<body>
	<div class="container">
		<BR>
		<div align="right">
			<form method="post" th:action="@{/logout}" id="logoutForm">
				<input type="button" id ="logout" class="btn btn-primary" value="ログアウト">
			</form>
		</div>

		<div align="center">
			<h2>発注確認</h2>
		</div>
	</div>
	<BR>

	<div class="container">
		<div class="container">
			<div class="row">
				<div class="col" align="right">
					<!-- ページング処理 -->
					<nav aria-label="Page navigation example">
						<ul class="pagination justify-content-end">
							<div th:if="${page.totalPages > 0}" th:each="pageNumber : ${pageNumbers}">
    							<li class="page-item">
    								<a th:href="@{/checkOrderConfirm_page(size=${page.size}, page=${pageNumber})}"
        								th:text=${pageNumber}
    	   								th:class=page-link "${pageNumber==page.number + 1} ? active"></a>
								</li>
							</div>
						</ul>
					</nav>
				</div>
			</div>
			<table class="table table-bordered">
				<thead class="table-info">
					<tr>
						<th scope="col" class="align-middle text-center">ステータス</th>
						<th scope="col" class="align-middle text-center">発注ID</th>
						<th scope="col" class="align-middle text-center">発注日</th>
						<th scope="col" class="align-middle text-center">仕入先</th>
						<th scope="col" class="align-middle text-center">発注者</th>
						<th scope="col" class="align-middle text-center">発注点数</th>
						<th scope="col" class="align-middle text-center">発注金額合計</th>
						<th scope="col" class="align-middle text-center"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="order,detail : ${page.content}">
					<!--<tr th:if="${!#lists.isEmpty(checkOrderConfirmForm.displayList)}" th:each="order,detail : ${checkOrderConfirmForm.displayList}">-->
						<td class="align-middle text-center">
							<div class="p-1 bg-warning">仮発注</div>
						</td>
						<td class="align-middle text-center" th:text="${order.orderId}"></td>
						<td class="align-middle text-center" th:text="${order.orderedDate}"></td>
						<td class="align-middle text-center" th:text="${order.supplierName}"></td>
						<td class="align-middle text-center" th:text="${order.orderStaffName}"></td>
						<td class="align-middle text-end" th:text="${order.orderCount}"></td>
						<td class="align-middle text-end" th:text="'¥' + ${order.orderAmountSum}"></td>
						
						<td class="text-center">
							<div class="d-flex justify-content-around">
								<form th:action="@{/orderConfirm}"  method="post" th:id="detail+${detail.index}">
									<input type="submit" class="btn btn-primary" value="　詳細　" th:id="detail+${detail.index}">
									<input type="hidden" th:value="${checkOrderConfirmForm.displayList[__${detail.index}__].orderId} " name="orderId" th:id="detail+${detail.index}">
								</form>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<td>
			<div align="right">
			<form method="post" th:action="@{/orderInput_back}" onSubmit="return funcBack()">
				<input type="submit" class="btn btn-primary" value="戻る" >
			</form>
			</div>
		</td>
</body>

</html>