<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
	integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
	crossorigin="anonymous"></script>
<script th:src="@{/js/common.js}"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/themes/base/jquery-ui.min.css">
<!-- jQuery本体 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<!-- jQuery UI -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<!-- 日本語化ファイル -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.4/i18n/jquery.ui.datepicker-ja.min.js"></script>

<script>
	$(function () {
		$('#dateFrom').datepicker({
        dateFormat: 'yy-mm-dd'
    	});
		$('#dateTo').datepicker({
        dateFormat: 'yy-mm-dd'
    	});
	});
	
	var funcOrderInput = function() {
		var result = confirm('発注を取り消します。よろしいですか？');
		if (result) {
			document.form.submit();
		} else {
			return;
		}
	}

</script>

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
</head>

<body>
	<div class="container">
		<BR>
		<div align="right">
			<form role="form" id="logout" th:action="@{/logout}" method="post">
				<button type="submit" class="btn btn-primary">ログアウト</button>
			</form>
		</div>

		<div align="center">
			<h2>発注履歴</h2>
		</div>
	</div>
	<BR>
	<div class="container">
		<table>
			<tr th:if="${validationError}" th:each="error : ${validationError}">
				<td style="color:red;" th:text="${error}"></td>
			</tr>
		</table>
	</div>

	<div class="container">
		<form th:action="@{/orderHistory}" th:object="${orderHistoryForm}"} method="post">
			<table class="table table-bordered">
				<thead class="table-info">
					<tr>
						<th colspan="2" scope="col" class="align-middle text-center">検索条件</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="align-middle text-left">発注日</td>
						<td class="align-middle text-left">
							<input id="dateFrom" type="text" placeholder="日付を入力してください" autocomplete="off" th:field="*{dateFrom}" th:value="*{dateFrom}">
							～
							<input id="dateTo" type="text" placeholder="日付を入力してください" autocomplete="off" th:field="*{dateTo}" th:value="*{dateTo}">
						</td>
					</tr>
					<tr>
						<td class="align-middle text-left">仕入先</td>
						<td class="align-middle text-center">
							<select th:field="*{supplierId}" class="form-select" aria-label="Default select example">
								<option value="" selected> </option>
								<option th:each="supplier : ${suppliers}" th:value="${supplier.key}" th:text="${supplier.value}" ></option>
							</select>
						</td>
					</tr>
					<tr>
						<td class="align-middle text-left">ステータス</td>
						<td class="align-middle text-left">
							<div class="form-check form-check-inline">
								<input class="form-check-input" type="radio" th:field="*{status}"  value="1" >
								<label class="form-check-label" for="flexRadioDefault1">
									すべて
								</label>
							</div>
							<div class="form-check form-check-inline">
								<input class="form-check-input" type="radio" th:field="*{status}" value="5">
								<label class="form-check-label" for="flexRadioDefault2">
									仮発注
								</label>
							</div>
							<div class="form-check form-check-inline">
								<input class="form-check-input" type="radio" th:field="*{status}" value="2">
								<label class="form-check-label" for="flexRadioDefault3">
									発注済み
								</label>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
			<div align="right">
				<form>
					<p><input type="hidden" name="kensakuFlg" value="1"></p>
					<p><input type="submit" class="btn btn-primary" value="絞り込む"></p>
				</form>
 				
			</div>
		</form>

			<BR>
			<BR>

			<div class="container">
				<div class="row">
					<div class="col" align="right">
						<nav aria-label="Page navigation example">
							<ul class="pagination justify-content-end">
								<li class="page-item"><a class="page-link" href="#">Previous</a></li>
								<li class="page-item"><a class="page-link" href="#">1</a></li>
								<li class="page-item"><a class="page-link" href="#">2</a></li>
								<li class="page-item"><a class="page-link" href="#">3</a></li>
								<li class="page-item"><a class="page-link" href="#">Next</a></li>
							</ul>
						</nav>
					</div>
				</div>
				<table class="table table-bordered">
					<thead class="table-info">
						<tr>
							<th scope="col" class="align-middle text-center">発注ID</th>
							<th scope="col" class="align-middle text-center">ステータス</th>
							<th scope="col" class="align-middle text-center">発注日</th>
							<th scope="col" class="align-middle text-center">仕入先</th>
							<th scope="col" class="align-middle text-center">スタッフ名</th>
							<th scope="col" class="align-middle text-center">発注点数</th>
							<th scope="col" class="align-middle text-center">発注金額合計</th>
							<th scope="col" class="align-middle text-center"></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="order,stat :${orderHistoryForm.displayList}" >
							<td align="right" th:text="${order.orderId}"class="align-middle"></td>
							<td class="align-middle text-center">
								<th:block th:if="${order.status} == '2'">
									<div class="p-1 bg-primary-subtle">発注済</div>
								</th:block>
								<th:block th:if="${order.status} == '5'">
									<div class="p-1 bg-warning">仮発注</div>
								</th:block>
							</td>
							<td th:text="${order.orderDate}"class="align-middle text-center"></td>
							<td th:text="${order.supplierName}"class="align-middle text-center"></td>
							<td th:text="${order.staffName}"class="align-middle text-center"></td>
							<td align="right" th:text="${order.quantity}"class="align-middle"></td>
							<td align="right" th:text="${order.totalPrice}"class="align-middle"></td>
							<td class="text-center">
								<div class="d-flex justify-content-around">
<!--								<div style="display:inline-flex">-->
<!--								ステータス５（仮発注）の時、詳細→発注確定画面に遷移。取り消し→発注履歴画面を再表示。-->
								<th:block th:if="${order.status} == '5'">
									<form th:action="@{/orderConfirm}"  method="post" th:id="shosai+${stat.index}">
										<input type="submit" class="btn btn-primary" value="　詳細　" th:id="shosai+${stat.index}">
										<input type="hidden" th:value="${orderHistoryForm.displayList[__${stat.index}__].orderId} " name="orderId" th:id="shosai+${stat.index}">
									</form>
									<form th:action="@{/orderHistory}"  method="post" th:id="shosai+${stat.index}">
										<input type="submit" class="btn btn-primary" value="　取消　" th:id="shosai+${stat.index}"onclick="funcOrderInput()">
										<input type="hidden" th:value="${orderHistoryForm.displayList[__${stat.index}__].orderId} " name="orderId" th:id="shosai+${stat.index}">
									</form>
								</th:block>
<!--								ステータス５以外の時、詳細→発注状況確認画面に遷移。取り消しは非活性。-->
								<th:block th:if="${order.status} != '5'">
									<form th:action="@{/checkOrderStatus}"  method="post" th:id="shosai+${stat.index}">
										<input type="submit" class="btn btn-primary" value="　詳細　" th:id="shosai+${stat.index}">
										<input type="hidden" th:value="${orderHistoryForm.displayList[__${stat.index}__].orderId} " name="orderId" th:id="shosai+${stat.index}">
									</form>
									<button type="button" class="btn btn-primary" disabled>　取消　</button>
								</th:block>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="container">
				<table>
					<tr th:if="${#lists.isEmpty(orderHistoryForm.displayList)&&shokihyojiFlg==0}" >
						<td style="color:red;" th:text="検索結果がありません。"></td>
					</tr>
				</table>
			</div>
			<div align="right">
				<BR>
				<form method="post" th:action="@{/menu}" >
					<input type="submit" class="btn btn-primary" value="メニューに戻る">
				</form>
				
			</div>
	</body>
	

</html>